<h1>Tackle that Box</h1>

<form action="/products" method="post">
    <label>Article <input type="text" name="article"></label>
    <label>Description <input type="text" name="description"></label>
    <label>Category 
    <select name="category">
        <option value="rods">Rods</option>
        <option value="Storage">Storage</option>
        <option value="Line">Line</option>
        <option value="Bait">Bait</option>
    </select></label>
    <input type="submit" value="Add new product">
 </form>

<div class="product-grid">

    <% @products.each do |prod| %>
        <div class="product-card">
            <img src="/default-image.jpg" alt="<%= prod['article'] %>" class="product-image">
            <h3><%= prod['article'] %></h3>

            <form action="/products/<%=prod["id"]%>/delete" method="post">
                <input type="submit" value="Delete Product" style="color: red;">
            </form>

            <form action="/products/<%=prod["id"]%>/edit" method="get">
                <input type="submit" value="Edit Product Info" style="color: rgb(235, 200, 2);">
            </form>
        </div>
    <% end %>
    
  </div>

