<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%="Rods and Cods" %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <% if @user %>
        <p>Welcome, <%=@user['username']%>!</p>

      <% elsif @signing_in? %>
        <div class="auth-links">
          <a href="/login" class="auth-link">Login</a>
        </div>

      <% else %>
        <div class="auth-links">
          <a href="/login" class="auth-link">Login</a>
          <a href="/signup" class="auth-link">Sign Up</a>
        </div>
      <% end %>
      
      Welcome to Rods and Cods - Freshwater Fishing Supplies
    </nav>
  </header>

  <main>
    <%= yield %> <!-- This is where your view content will be rendered -->
  </main>

  <footer>
    &copy; <%= Time.now.year %> Rods and Cods. Happy Fishing!
  </footer>
</body>
</html>
