<div class="login-container">
   <h2>Sign Up to Rods and Cods</h2>

   <% if session[:username_taken] %>
     <script>alert("Username already taken.");</script>
   <% end %>
   <% if session[:email_taken] %>
     <script>alert("Email already taken.");</script>
   <% end %>

   <form action="/user" method="POST" class="login-form">
      <div class="form-group">
         <label for="username">Username:</label>
         <input type="text" name="username" id="username" required>
      </div>

      <div class="form-group">
         <label for="email">Email:</label>
         <input type="text" name="email" id="email" required>
      </div>

      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" name="password" id="password" required>
      </div>

      <button type="submit">Sign Up</button>
   </form>
</div>

<% session[:username_taken] = false %>
<% session[:email_taken] = false %>