<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%="Rods and Cods" %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<header>
  <nav>
    <% if @user %>
      <div class="auth-links">
        <a href="/product" class="auth-link">Home</a>
        <form action="/logout" method="POST" class="auth-link">
          <button type="submit">Logout</button>
        </form>
        <a href="/cart/show" class="auth-link checkout">Cart</a>
        <p>Welcome, <%=@user['username']%>!</p>
      </div>

    <% elsif @signing_in %>
      <div class="auth-links">
        <p>Already have an account?</p>
        <a href="/product" class="auth-link">Home</a>
        <a href="/login" class="auth-link">Login</a>
        <% @signing_in=false %>
      </div>

    <% elsif @logging_in %>
      <div class="auth-links">
        <p>Don't have an account?</p>
        <a href="/product" class="auth-link">Home</a>
        <a href="/user/new" class="auth-link">Sign Up</a>
      </div>
        <% @logging_in=false %>
    <% else %>
      <div class="auth-links">
        <a href="/login" class="auth-link">Login</a>
        <a href="/user/new" class="auth-link">Sign Up</a>
        <a href="/cart/show" class="auth-link checkout">Cart</a>
      </div>
      <p>Welcome to <a href="/" class="auth-link">Rods and Cods</a> - Freshwater Fishing Supplies</p>
    <% end %>
  </nav>
</header>

  <main>
    <%= yield %>
  </main>

  <footer>
    &copy; <%= Time.now.year %> Rods and Cods. Happy Fishing!
  </footer>
</body>
</html>
