<form action="/products/<%= @product['id'] %>/update" method="post">
   <label>Article <input type="text" name="article" value="<%=@product['article']%>"></label>
   <label>Description <input type="text" name="description" value="<%=@product['description']%>"></label>
   <label>Category <select name="category" value="<%=@product['category']%>">
        <option value="rods">Rods</option>
        <option value="Storage">Storage</option>
        <option value="Line">Line</option>
        <option value="Bait">Bait</option>
   </select>
   </label>

   <input type="submit" value="Save Changes">

</form>